body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 20px;
    width: 590px; /* Adjust as needed */
    height: auto;
}

.container {
    background-color: #ddd;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container form {
    margin-top: 20px;
}

.container input[type="email"],
.container input[type="password"],
.container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #4cae4c;
}

.container p {
    margin: 10px 0;
}

.flashes {
    list-style-type: none;
    padding: 0;
    color: red;
}

.login-text {
    margin: 20px 0; /* Increase the top and bottom margin */
    font-size: 24px; /* Increase the font size */
}
