<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ</title>
</head>
<body>
    <p>サインイン状態かどうかのチェック項目：{{sign_in_status}}</p>
    <p>トップページ</p>
    <p><a href="{{url_for('sign_in')}}">サインインページへ</a></p>
    <p><a href="{{url_for('sign_up')}}">サインアップページへ</a></p>
    <p><a href="{{url_for('sign_out')}}">サインアウト</a></p>
    
    <p>usernum:</p>{{usernum}}<!--サインイン状態のチェック用-->
    <p>accountname:</p>{{accountname}}<!--サインイン状態のチェック用-->


    
    {% with messages = get_flashed_messages() %}<!--20～28行目は何かしらのエラーが出た時用の項目-->
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>