<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./images/apple-touch-icon.png"
    />
    <link rel="stylesheet" href="../static/css/mypage.css">
    <title>マイページ</title>
</head>
<body>
    

    <div class="section_mypage">
        <h2>マイページ</h2>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h3>プロフィール</h3>
        <p>ユーザー番号：{{ usernum }}</p>
        <p>アカウント名：{{ accountName }}</p>
        <p>メールアドレス：{{ email }}</p>
        
        <p><a href="{{ url_for('changeProfile') }}">プロフィールを変更する</a></p>

        <h3>ゲーム情報</h3>
        <p>スコア    ：サンプル</p>
        <p>レベル    ：サンプル</p>
        <p>入力時間  ：サンプル</p>
        <p>入力文字数：サンプル</p>
        <p>ミス入力数：サンプル</p>
        <p>WPN       ：サンプル</p>
        <p>正確率    ：サンプル</p>
        <p>苦手キー  ：サンプル</p>

        
        
        <p><a href="{{ url_for('game') }}">ゲームをプレイする</a></p>
        <p><a href="{{ url_for('index') }}">トップページへ戻る</a></p>
    </div>
</body>
</html>
