<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./images/apple-touch-icon.png"
    />
    <title>ランキング</title>
  </head>
  <body>
    <p>ランキング表示</p>
    <p>easy</p>
    {% for showRankE in easyScoreRank%}
      <p>{{showRankE['usernum']}}:{{showRankE['easyScore']}}</p>
    {% endfor %}

    <p>normal</p>
    {% for showRankN in normalScoreRank%}
      <p>{{showRankN['usernum']}}:{{showRankN['normalScore']}}</p>
    {% endfor %}

    <p>hard</p>
    {% for showRankH in hardScoreRank%}
      <p>{{showRankH['usernum']}}:{{showRankH['hardScore']}}</p>
    {% endfor %}

    <p><a href="{{url_for('index')}}">トップページへ</a></p>
  </body>

</html>